@mixin alignCenter {
    // Definición y alineación contendor.
    display: flex;
    justify-content:center;
    align-self: center;
}

@mixin card{
    // Definición y alineación contendor.
    display: flex;
    flex-direction: column;
    // Medidas del contenedor.
    margin:1.5rem;
    // Efectos.
    background-color:white;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    @include respond(phone){
        height: 35%;
    }
}

@mixin cardTitle($image) {
    // Definición y alineación contendor.
    position: relative;
    // Medidas del contenedor.
    height: 35%;
    margin-bottom: 1rem;
    // Efectos.
    border-top-left-radius: 1rem;
    background-image: linear-gradient(45deg, #50577ada, #474e68d2),
    url($image);
    background-size: cover;
    
}

@mixin cardTitleH3 {
    // Definición y alineación contendor.
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // Medidas del contenedor.
    padding: .5rem;
    margin-top:.5rem;
    // Colores.
    color:whitesmoke;
    // Efectos.
    background-image: linear-gradient(90deg, #181d38d6, #6b728ed5);
    // Fuente.
    text-align: right;
    
    span{
        @include respond(tab-land){
            font-size: 1.8rem;
            //font-weight: 400;
        }

        @include respond(phone){
            font-size: 2.5rem;
        }
    }
    
}

@mixin cardDescrip{
    margin: 0 .5rem;
    padding: 1rem;
    height: 50%;
    margin-top: 1.8rem;
}

@mixin cardDescripP {
    // Fuente.
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: .9rem;

    @include respond(tab-land){
        font-size: 1.2rem;
    }

    @include respond(tab-port){
        font-size: 1.5rem;
    }

    @include respond(phone){
        font-size: 2rem;
    }
}

@mixin cardButtom{

    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 15%;
    margin-bottom: 0.7rem;
    
    @include respond(tab-port){
        height: 4.5rem;
    }

    .button--content{
        display: inherit;
        justify-content:space-around;
        align-items: center;
        height: 70%;
        width: 50%;
        border-style: solid;
        border-color: black;
        border-width: 0.1rem;

        a,
        a:link,
        a:visited,
        a:focus{
            text-decoration: none;
            text-align: center;
            color:black;

            @include respond(tab-land){
                font-size: 1.5rem;
            }

            @include respond(phone){
                font-size: 2rem;
            }
        }
    }

    .button--content:hover{
        background-color: black;
        color:whitesmoke;
        transition: background-color color 0.3seg;
        box-shadow: 6px 6px 8px 0px rgba(0,0,0,0.2);

        a{
            color:whitesmoke;
        }
    }

}

@mixin imageSize{
    height: 4rem;
    width: 4rem;

    @include respond(tab-land){
        height: 6rem;
        width: 6rem;
    }

    @include respond(tab-port){
        height: 8rem;
        width: 8rem;
    }
}

// Media-queries.
//
// phone: 600px;
// tab-port: 900px;
// tab-land: 1200px;
// big-desktop: 1900px;

@mixin respond($breakpoint) {

    @if $breakpoint == small-resolution{
        @media (max-width: 22.5em) { @content };
    }

    @if $breakpoint == small-phone{
        @media (max-width: 28.75em) { @content };
    }

    @if $breakpoint == phone{
        @media (max-width: 38.75em) { @content };
    }
    
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) { @content };
    }

    @if $breakpoint == tab-land{
        @media (max-width: 75em) { @content };
    }

    @if $breakpoint == big-desktop{
        @media (min-width: 112.5em) { @content };
    }
}