//Header
$color-darkblue: #06283D;


// Botón navegacion.
$background_button_1: #50577A;
$background_button_2: #6B728E;

//tipography
$background-grey: #AAC4FF;
$color-mediablue: #256D85;

// About us


// Sección tools.
$bk_dark_1: #404258d5;
$bk_dark_2: #474e68d8;

$bk_dark_3: #50577A;
$bk_dark_4: #6B728E;

// Seccion: Nuestros servicios.

// Contacto
$bk_contactUs_light_1:#393e46d5;
$bk_contactUs_light_2: #6d9886d4;