.contact__us{
    // Definición y alineación contendor.
    display: flex;
    justify-content: center;
    align-items: center;
    // Medidas del contenedor.
    height: 60vh;
    // Colores.
    background-color:whitesmoke;

    
    @include respond(tab-port){
        margin: 0;
    }

    @include respond(phone){
        // Medidas del contenedor.
        height: 50vh;
    }

    .contact__us--container{
        // Definición y alineación contendor.
        display: flex;
        flex-direction: column;
        justify-content: center;
        // Medidas del contenedor.
        height: 50%;
        width: 60%;
        margin-bottom: 2rem;
        // Colores.
        color:whitesmoke;
        // Efectos.
        border-radius: 0.5rem;
        background-image: linear-gradient(45deg, $bk_contactUs_light_1, $bk_contactUs_light_2);
        //url("../img/rami-al-zayat-w33-zg-dNL4-unsplash.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); 
        
        @include respond(tab-land){
            height: 60%;
            width: 80%;
        }

        @include respond(tab-port){
            height: 60%;
            width: 80%;
        }

        @include respond(phone){
            width: 90%;
        }
    }
    .container--title{
        // Definición y alineación contendor.
        display: flex;
        flex-direction: column;
        // Medidas del contenedor.
        margin: 1.5rem auto;
        padding: .5rem;

    }
    .container--social-media{
        // Definición y alineación contendor.
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items:center;
        // Medidas del contenedor.
        margin: 2rem;

        .facebook img{
            @include imageSize;
        }
        
        .instagram img{
            @include imageSize;
        }

        .you_tube img{
            @include imageSize;
        }

        .gmail img{
            @include imageSize;
        }
    }

}