// Menú bar.
// La barra de menú siempre esta fija.

header{
    // Definición y alineación contendor.
    position: fixed;
    // Medidas del contenedor.
    width: 100%;
    z-index: 1;
}

.header__menu{
    // Definición y alineación contendor.
    position: relative;
    display: flex;
    justify-content: space-between;
    // Medidas del contenedor.
    height: 10vh;
    // Colores.
    background-color: $color-darkblue;
    color: whitesmoke;
     

    .header__menu--navigation{
        visibility: hidden;

        @include respond(phone){
            visibility: visible;
            .navigation__background{
                // Definición y alineación contendor.
                position:absolute;
                top:1.5rem;
                right:3.5rem;
                z-index: 1000;
                // Medidas del contenedor.
                height: 6rem;
                width: 6rem;
                // Colores.
                background-image: radial-gradient($background_button_1, $background_button_2);
                // Efectos.
                border-radius: 50%;
                transition: transform .8s;
            }

            .navigation__button{
                // Definición y alineación contendor.
                position:absolute;
                top:1.5rem;
                right: 3.5rem;
                z-index: 2000;
                // Medidas del contenedor.
                height: 7rem;
                width: 7rem;
                // Colores.
                background-color: whitesmoke;
                // Efectos.
                border-radius: 50%;

            }
            .navigation__checkbox{
                visibility: hidden;
            }

            .navigation__items{
                //visibility: hidden;
                // Definición y alineación contendor.
                position: absolute;
                top:0;
                right: 0;
                z-index: 1500;
                // Medidas del contenedor.
                height: 100vh;
                width: 0;
                ul{
                    // Definición y alineación contendor.
                    position: absolute;
                    width: 100%;
                    top:40%;
                    left:25%;
                    transform: translate(-25%,-50%);
                    // Fuente.
                    font-size: 4.5rem;
                    margin:1.5rem;
                    list-style: none;
                    text-align: center;
                    
                    li{
                        margin: 2rem;
                        a,
                        a:link,
                        a:visited,
                        a:focus{
                            text-decoration: none;
                            color:whitesmoke;
                        }    
                    }

                }
            }

            .navigation__checkbox:checked ~ .navigation__background{
                transform: scale(50);

            }

            .navigation__checkbox:checked ~ .navigation__items{
                width: 100%;
            }
        }
    }

    &--title{
        // Definición y alineación contendor.
        display: flex;
        justify-content:center;
        align-self: center;
        // Medidas del contenedor.
        margin: 0.5rem;

        @include respond(phone){
            width: 35%;
        }

        @include respond(small-phone){
            width: 50%;
        }
    }

    &--menu{
        // Definición y alineación contendor.
        display: flex;
        justify-content:center;
        align-self: center;

        @include respond(phone){
            visibility: hidden;
        }

        a,
        a:link,
        a:visited,
        a:focus{
            text-decoration: none;
            text-align: center;
            color:whitesmoke;
        }
    }
}