.header__menu--title{
    h1{

        @include respond(tab-land){
            font-size: 2.5rem;
            //text-transform: uppercase;
            letter-spacing: 0.2rem;
        }

        @include respond(tab-port){
            font-size: 3rem;
            //text-transform: uppercase;
            letter-spacing: 0.2rem;
        }
    }
}

.header__menu--menu li{
    display: inline;
    list-style: none;
    margin: 1rem;
    @include respond(tab-land){
        font-size: 1.5rem;
    }

    @include respond(tab-port){
        font-size: 1.5rem;
    }
}

// Titulo y slogan del div titúlo.
.title__page{

    flex-direction: column;

    &--title{
       @include alignCenter;
        width: 60%;
        background-color: $background-grey;
        opacity: 60%;
        animation: moveRight 5s;

        @include respond(phone){
            width: 80%;
        }
        
        h1{
            color: $color-mediablue;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            animation: moveRight 5s;

            @include respond(tab-port){
                font-size: 5rem;
            }

            @include respond(phone){
                font-size: 5rem;
            }
        }
    }
    &--slogan{
        
        @include alignCenter;
        width: 60%;
        background-color: $background-grey;
        opacity: 60%;
        animation: moveLeft 5s;
        
        h2{
            color:$color-mediablue;
            font-size: 1.5rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
            animation: moveLeft 5s;

            @include respond(tab-port){
                font-size: 2rem;
            }

            @include respond(phone){
                font-size: 2rem;
            }
        }
    }
}

// Sección acerca de nosotros.
.about__us{
    font-family: 'Roboto', sans-serif;
    
    &--container{
        .container--title{
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            
            h2{
                font-size: 2rem;
                
                @include respond(tab-port){
                    font-size: 3rem;
                }

                @include respond(phone){
                    font-size: 3rem;
                }                                
            }
        }

        .container--paragraph{
            p{
                
                @include respond(tab-port){
                    font-size: 2rem;
                }

                @include respond(phone){
                    font-size: 2rem;
                }
            }
        }
    }
}


// Tipografia del contendor dev-tools.
.dev__tools{
    
    font-family: 'Roboto', sans-serif;
    
    &--container{
        .dev__tools--title{
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.3rem;
            
            h2{
                @include respond(tab-port){
                    font-size: 3rem;
                }

                @include respond(phone){
                    font-size: 3rem;
                }

            }
        }
    }
}

// Nuestros servicios.
.our__services{
    
    font-family: 'Roboto', sans-serif;
    
    &--conteiner{    
        .conteiner--title{
            h2{
                text-transform: uppercase;
                text-align: center;
                letter-spacing: 0.2rem;

                
                @include respond(tab-port){
                    font-size: 3rem;
                }

                @include respond(phone){
                    font-size: 3rem;
                }
            }
        }

        .conteiner--paragraph{
            p{   
                text-align: justify;
                font-size: 1rem;
                
                
                @include respond(tab-port){
                    font-size: 2rem;
                }

                @include respond(phone){
                    font-size: 2.5rem;
                }               
            }
        }
    }
}

// Sección redes sociales.
.contact__us{

    font-family: 'Roboto', sans-serif;
    
    .container--title{
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 0.5rem;

        @include respond(tab-port){
            font-size: 3rem;
        }
    }
}

// Footer
.page__footer{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    
    @include respond(tab-port){
        font-size: 1.5rem;
    }

    @include respond(phone){
        font-size:1.5rem;
    }
}